# IDE
.idea/
.ftpquota
sftp-config.json

#
# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp
*.xlsx

*.ini

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# Data
YAC/public/sistema/documentos

# Logs
internal/log

#imagenes de productos
YAC/productosimages

# Composer
YAC/composer.lock

#CONECCION BD
YAC/js/bootstrap-notify
