# IDE
.idea/
.ftpquota
sftp-config.json

#
# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp
*.xlsx

*.ini

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# Data
public/sistema/documentos

# Logs
internal/log

#imagenes de productos
productosimages

# Composer
composer.lock