/* WRITE YOUR CSS CODE HERE */

.full-width{
    width: 100%;
}
/* WRITE YOUR CSS CODE HERE */

.center{
    margin:0 auto !important;
}
/*#details{*/
    /*min-width: 750px;*/
/*}*/
label{
    font-size: 130%;
}
label.small{
    font-size: 100%;
}
.error-bg{
    background-color:#FEEBEB;
}

.error-field{
    color:rgb(255,0,10);
}

.error{
    color:rgb(255,0,10);
    display: block;
}

.red{
   color:rgb(255,0,10);
}
.green{
    color:#6eac2c;
}
#content strong{
    font-weight: bold;
    font-size: 110%;
}

.underlined{
    text-decoration: underline;
}

input[type=text],input[type=password],textarea{
    width: 450px;
    font-size:130%;
    padding:3px;
}
textarea{
    height:250px !important;
}

.progressTitle{
    font-size: 5.5em;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
}

.green-bg{
    border:2px solid #BBDF8D; background-color:#EAF7D9;
}
.yellow-bg{
    border:2px solid #F2DD8C; background-color:#FFF5CC;
}
.red-bg{
    border:2px solid #FFAEAE; background-color:#FEEBEB;
}

.left-div{
    width: 70%; float: left;
}
.right-div{
    margin-left: 72%;
}

.full-width{
    width: 100%;
}

[disabled]{
    background-color: #e3e3e3;
}

/*#total-box{
    position: fixed;
    right: 20px;
    top: 200px;
    width: 150px;
    height: 40px;
    border: 1px black solid;
    background-color: white;
    opacity:0.9;
    filter:alpha(opacity=90)
}*/

.small-field{
    width: 150px !important;
}

.search{
    width: 180px;
}

.bigger{
    font-size: 36px;
}

#msg_tray{
/*    position: fixed;
    top: 0px;
    width: 100%;*/
}


/* Paginator */
div#tnt_pagination {
    clear: both;
	display: block;
	font-size: 12px;
	font-weight: normal;
	height: 22px;
	line-height: 21px;
	padding-top: 3px;
	text-align: center;
    
}

#tnt_pagination .disabled_tnt_pagination {
    background-color: #F5F5F5;
    border: 1px solid #EBEBEB;
    color: #D7D7D7;
    cursor: default;
    margin-left: 10px;
    padding: 2px 7px;
    text-decoration: none;
}

#tnt_pagination a:link, #tnt_pagination a:visited {
    background-color: #F5F5F5;
    border: 1px solid #EBEBEB;
    color: #2F5581;
    font-weight: normal;
    margin-left: 10px;
    padding: 2px 7px;
    text-decoration: none;
    width: 22px;
}

#tnt_pagination .active_tnt_link {
    background-color: #DDEEFF;
    border: 1px solid #BBDDFF;
    color: #0072BC;
    cursor: default;
    margin-left: 10px;
    padding: 2px 7px;
    text-decoration: none;
}
