ul.facelist-selections {
	list-style-type: none !important;
	border-top: 1px solid #888 !important;
	border-bottom: 1px solid #b6b6b6 !important;
	border-left: 1px solid #aaa !important;
	border-right: 1px solid #aaa !important;
	padding: 4px 0 4px 4px !important;
	margin: 0 !important;
	overflow: auto !important;
	background-color: #fff !important;
	box-shadow:inset 0 1px 2px #888 !important;
	-webkit-box-shadow:inset 0 1px 2px #888 !important;
	-moz-box-shadow:inset 0 1px 2px #888 !important;
	width: 90% !important
}

ul.facelist-selections.loading {
	background-color: #eee !important;
}

ul.facelist-selections li {
	float: left !important;
	margin: 1px 4px 1px 0 !important;
}

ul.facelist-selections li.facelist-selection-item {
	color:black !important;
	position: relative !important;
	background-color: #eff2f7 !important;
	border: solid 1px #ccd5e4 !important;
	-moz-border-radius: 3px !important;
	-webkit-border-radius: 3px !important;
	border-radius: 3px !important;
	-webkit-transition: background-color .2s ease-in !important;
	cursor: pointer !important;
	padding:2px 5px 2px 5px !important;
	font-size: 13px !important;
	font-family: "Lucida Grande", arial, sans-serif !important;
}

ul.facelist-selections li.facelist-selection-item:last-child {
	margin-left: 30px !important;
}

ul.facelist-selections li.facelist-selection-item a.facelist-close {
	float: right !important;
	margin: 1px 0 0 7px !important;
	padding: 0 2px !important;
	cursor: pointer !important;
	color: #a6b3cf !important;
	font-family: "Helvetica", helvetica, arial, sans-serif !important;
	font-size: 14px !important;
	font-weight: bold !important;
	-webkit-transition: color .1s ease-in !important;
}

ul.facelist-selections li.facelist-selection-item.blur a.facelist-close {
	color: #999 !important;
}

ul.facelist-selections li:hover.facelist-selection-item {
	background-color: #d8dfea !important;
	border: solid 1px #ccd5e4 !important;
}

ul.facelist-selections li.facelist-selection-item.selected {
	border-color: #3b5998 !important;
	background-color: #5670a6 !important;
	color: #fff !important;
}

ul.facelist-selections li.facelist-original {
	margin-left: 0 !important;
}

ul.facelist-selections li.facelist-original input {
	border: none !important;
	outline: none !important;
	font-size: 13px !important;
	width: 120px !important;
	height: 18px !important;
	padding-top: 3px !important;
}

ul.facelist-list {
	position: absolute !important;
	list-style-type: none !important;
	margin: 2px 0 0 0 !important;
	padding: 0 !important;
	font-size: 14px !important;
	color: #000 !important;
	font-family: "Lucida Grande", arial, sans-serif !important;
	background-color: #fff !important;
	z-index: 2 !important;
	border: solid #ccd5e4 1px !important;
}

li.facelist-result-item, li.facelist-message {
	margin: 0 0 0 0 !important;
	padding: 5px 12px !important;
	background-color: transparent !important;
	border: 1px solid #fff !important;
	border-bottom: 1px solid #ddd !important;
	cursor: pointer !important;
}

li:first-child.facelist-result-item {
	margin: 0 !important;
}

li.facelist-message {
	margin: 0 !important;
	cursor: default !important;
}

li.facelist-result-item.active {
	background-color: #3b5998 !important;
	border-color: #3342e8 !important;
	color: #fff !important;
}

li.facelist-result-item em {
	font-style: normal !important;
	background: #dbe1ec !important;
	padding: 0 2px !important;
}

li.facelist-result-item.active em {
	background: #5670a6 !important;
	color: #fff !important;
}

/* Firefox 3.0 Hacks */
ul.facelist-list,  x:-moz-any-link, x:default {
	border: 1px solid #888 !important;
}
BODY:first-of-type ul.facelist-list, x:-moz-any-link, x:default { /* Target FF 3.5+ */
	border: none !important;
}

/* Webkit Hacks  */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	ul.facelist-selections {
		border-top-width: 2px !important;
	}
	ul.facelist-selections li.facelist-selection-item {
		padding-top: 3px !important;
		padding-bottom: 3px !important;
	}
	ul.facelist-selections li.facelist-selection-item a.facelist-close {
		margin-top: -1px !important;
	}
	ul.facelist-selections li.facelist-original input {
		height: 19px !important;
	}
}

/* Opera Hacks  */
@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0) {
	ul.facelist-list {
		border: 1px solid #888 !important;
	}
	ul.facelist-selections li.facelist-selection-item a.facelist-close {
		margin-left: 4px !important;
		margin-top: 0 !important;
	}
}

/* IE Hacks  */
ul.facelist-list {
	border: 1px solid #888\9 !important;
}
ul.facelist-selections li.facelist-selection-item a.facelist-close {
	margin-left: 4px\9 !important;
	margin-top: 0\9 !important;
}